*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.cake{
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
  flex-direction: column;
}
.cake img{
    width:100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
   border-radius: 20px;
}
header{
    text-align: center;
    text-transform: uppercase;
    padding: 28px;
    background-color: #0c1022;
    color:azure
    
}